<div class="card-block">
  <div class="title">
    <div>
      Barclaycard CashForward™ World MasterCard™
    </div>
    <div style="margin-left: auto" class="col-s-hidden">
      <app-rating [score]="score" (scoreClickEmitter)="score = $event"></app-rating>3,252 Reviews
    </div>
  </div>
  <div class="row">
    <div class="col-s-12 col-m-4">
      <div class="row">
        <div class="col-s-6 col-m-6">
          <img src="../assets/images/asset1.png" class="w100"/>
        </div>
        <div class="col-s-6 col-m-6 approval">
          <div>Approval Odds†</div>
          <button>
            Very Good
          </button>
        </div>
      </div>
    </div>
    <div class="col-s-12 col-m-8">
      <ul>
        <li>Get a $100 cash rewards bonus after you spend $500 in purchases in the first 90 days after account oppening.</li>
        <li>Earn unlimited 1.5% cash rewards on every purcahse.</li>
        <li>Earn unlimited 1.5% cash rewards on every...<span>show more</span></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <button class="col-s-12 col-m-4 applay-btn">
      Apply Now
    </button>
  </div>
  <div class="delimeter"></div>
  <div>
    See Details Rates & Fees
  </div>
</div>
