.card-block {

  > * + * {
    margin-top: 1em;
    margin-bottom: 0;
  }

  .title {
    font-size: 1.25rem;
    display: flex;
    line-height: 20px;
  }

  ul {
    font-size: 1.125rem;
    padding: 0 1em;
    margin: 0;
    line-height: 1.5rem;
    text-align: justify;
    li + li {
      margin-top: .3em;
    }
  }
}
.applay-btn {
  background-color: #FA6E3D;
  color: #FFF;
  border-radius: .4em;
  border: none;
  height: 45px;
}
.approval {
  //align-items: center;
  text-align: center;
  * { margin-top: 1.2em; }
  button {
    background-color: #59D8D1;
    color: #FFF;
    border: none;
    border-radius: 2em;
    width: 100px;
    height: 30px;
    font-weight: bold;
  }
}




@media (min-width: 1100px) {
  .approval {
    div:first-child {
      margin: 0;
      padding: 0 2em;
      text-align: center;
    }
  }
}

@media (max-width: 1100px) {
  .delimeter {
    margin: 0;
  }
  .card-block {
    .title {
      font-size: 17px;
    }
    ul {
      padding: 0 1em;
      font-size: 15px;
      line-height: 20px;
      li + li {
        margin-top: 1em;
      }
    }
  }

}
