<p>Data transferred: {{dataTransferService.data}}</p>

<button (click)="addCounterInChildComponent()">Increase counter in child component</button>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<app-ng-content #ngContentComponent>
  kjsadkjdsajk
  <div ngProjectAs="block1">Block1</div>
  <div ngProjectAs="block2">Block2</div>
</app-ng-content>
