<div>
  <label for="data-transfer">Input for data transfer: (For Big project, we can also use NGRX.)</label><br/>
  <input id="data-transfer" [(ngModel)]="dataTransferService.data" #name="ngModel" required minlength="4">
  <div *ngIf="name.invalid && (name.dirty || name.touched)" class="error-msg">

    <div *ngIf="name.errors.required">
      Name is required.
    </div>
    <div *ngIf="name.errors.minlength">
      Name must be at least 4 characters long.
    </div>

  </div>
</div>

<br/>
<br/>
<br/>

<form [formGroup]="formGroup">
  <label>
    Name:<br/>
    <input formControlName="name">
    <div *ngIf="formGroup.controls['name'].errors && !formGroup.controls['name'].pristine" class="error-msg">
      <div [hidden]="!formGroup.controls['name'].errors.required">Name is required.</div>
    </div>
  </label>
  <br/>
  <label>
    Email:<br/>
    <input formControlName="email">
    <div *ngIf="formGroup.controls['email'].errors && !formGroup.controls['email'].pristine" class="error-msg">
      <div [hidden]="!formGroup.controls['email'].errors.required">Email is required.</div>
      <div [hidden]="!formGroup.controls['email'].errors.patternInvalid">Email is invalid.</div>
    </div>
  </label>
</form>

<div class="animationTest">
  <br/>
  <button (click)="animate()">animate</button>
  <div class="box" [class.animate] = "isAnimate"></div>
</div>
