.error-msg {
  color: red;
}
.animationTest{
  .box {
    width: 200px;
    height: 200px;
    background: red;
  }
  .animate {
    animation: over-and-back 1.5s linear 3;
  }
}

@keyframes over-and-back {
  0% {
    background: red;
  }
  50% {
    background: green;
    margin-left: 400px;
  }
  100% {
    background: red;
  }
}
