<header>
  <nav>
    <a [routerLink]="'/link_one'">
      <span>Navigation Link One</span>
    </a>
    <a [routerLink]="'/link_two'">
      <span>Navigation Link Two</span>
    </a>
    <a [routerLink]="'/link_three'">
      <span>Navigation Link Three</span>
    </a>
  </nav>
</header>
