header {
  padding-top: 55px;
  background-color: #23123A;
  nav {
    display: flex;
    height: 45px;
    background-color: #FFFFFF;
    a {
      flex: 1;
      display: flex;
      align-items: center;
      color: #000;
      font-weight: bold;
      span {
        display: block;
        width: 100%;
        text-align: center;
      }
    }
    a + a {
      border-left: 2px solid #EDEFF0;
    }
  }
}
