.banner {
  font-family: ProximaNovaExtrabold, serif;
  padding: .3em .7em;
  line-height: 4rem;
  color: #FFF;
  font-size: 3.3125rem;
  font-weight: bolder;
  height: 410px;
  background-color: #23123A;
  background-image: url("../../../../../assets/images/banner_mini.png");
  background-position: bottom;
  background-size: contain;
  background-repeat: no-repeat;
}

.layout-title {
  padding: 1.5em 1rem;
  font-size: 1.125rem;
  line-height: 1.34rem;
  font-weight: bold;
}

.main {
  background-color: #fff;
  padding: 1em;
  font-size: 1.0625rem;
  min-height: 370px;

  > * + * {
    margin-top: 1em;
    margin-bottom: 0;
  }
}

@media (min-width: 1100px) {

  .banner {
    height: 530px;
    font-size: 6.375rem;
    line-height: 6.5rem;
    background-size: cover;
    background-image: url("../../../../../assets/images/banner.png");
    br {
      display: none;
    }
  }
  .main {
    margin: 0 3em 3em;
    padding: 3em;
  }
  .layout-title {
    padding: 1.5em 3rem;
    font-size: 1.875rem;
    line-height: 1.34rem;
  }
}

