<app-header></app-header>
<div class="banner">
  Do the <br/>right thing
</div>
<div class="layout-title">
  Credit Opportunities With Good Approval Odds†
</div>
<div class="main" [@routeAnimations]="routeAnimation(outlet)">
  <router-outlet #outlet="outlet"></router-outlet>
</div>
