/* You can add global styles to this file, and also import other style files */

@font-face {
  //font-family: "ProximaNova";
  //src: url(fonts/ProximaNova-Reg.otf);
  font-family: ProximaNova;
  src: url(assets/fonts/ProximaNova-Reg.otf) format("opentype"),
  url(assets/fonts/Proxima_Nova_Bold_Italic.otf) format("opentype"),
  url(assets/fonts/Proxima_Nova_Light.otf) format("opentype"),
  url(assets/fonts/Proxima_Nova_Regular_Italic.otf) format("opentype"),
  url(assets/fonts/Proxima_Nova_Semibold.otf) format("opentype"),
  url(assets/fonts/Proxima_Nova_Semibold_Italic.otf) format("opentype"),
  url(assets/fonts/ProximaNova-Black.otf) format("opentype"),
  url(assets/fonts/ProximaNova-BlackIt.otf) format("opentype"),
  url(assets/fonts/ProximaNova-Bold.otf) format("opentype"),
  url(assets/fonts/ProximaNova-ExtrabldIt.otf) format("opentype"),
  url(assets/fonts/ProximaNova-LightItalic.otf) format("opentype"),
  url(assets/fonts/ProximaNova-Thin.otf) format("opentype"),
  url(assets/fonts/ProximaNova-ThinIt.otf) format("opentype");
}

@font-face {
  font-family: ProximaNovaExtrabold;
  src: url(assets/fonts/ProximaNova-Extrabold.otf) format("opentype");
}


:root {
  box-sizing: border-box;
  font-size: 1em;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-color: #F1F5F8;
  font-family: ProximaNova, sans-serif;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col { flex: 1; }

.w100 {
  width: 100%;
}

.text-center {
  text-align: center;
}

.delimeter {
  border-top: 1px solid #7F949C;
  margin: 0 -1em;
}

@media (max-width: 1100px) {

  .col-s-1 { flex: 0 0 8.3333%; }
  .col-s-2 { flex: 0 0 16.6667%; }
  .col-s-3 { flex: 0 0 25%; }
  .col-s-4 { flex: 0 0 33.3333%; }
  .col-s-5 { flex: 0 0 41.6667%; }
  .col-s-6 { flex: 0 0 50%; }
  .col-s-7 { flex: 0 0 58.3333%; }
  .col-s-8 { flex: 0 0 66.6667%; }
  .col-s-9 { flex: 0 0 75%; }
  .col-s-10 { flex: 0 0 83.3333%; }
  .col-s-11 { flex: 0 0 91.6667%; }
  .col-s-12 { flex: 0 0 100%; }
  .col-s-hidden { display: none }

}

@media (min-width: 1100px) {

  .col-m-1 { flex: 0 0 8.3333%; }
  .col-m-2 { flex: 0 0 16.6667%; }
  .col-m-3 { flex: 0 0 25%; }
  .col-m-4 { flex: 0 0 33.3333%; }
  .col-m-5 { flex: 0 0 41.6667%; }
  .col-m-6 { flex: 0 0 50%; }
  .col-m-7 { flex: 0 0 58.3333%; }
  .col-m-8 { flex: 0 0 66.6667%; }
  .col-m-9 { flex: 0 0 75%; }
  .col-m-10 { flex: 0 0 83.3333%; }
  .col-m-11 { flex: 0 0 91.6667%; }
  .col-m-12 { flex: 0 0 100%; }
  .col-m-hidden { display: none }
}
